<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077908619477-kk7t88dpmo14g564kd4q606squk70bam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077908619477-kk7t88dpmo14g564kd4q606squk70bam</string>
	<key>API_KEY</key>
	<string>AIzaSyDdrnLPY1A6CwdRpkp9m-tq99hzDzESwsM</string>
	<key>GCM_SENDER_ID</key>
	<string>1077908619477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeTask</string>
	<key>PROJECT_ID</key>
	<string>code-test-3bd2a</string>
	<key>STORAGE_BUCKET</key>
	<string>code-test-3bd2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077908619477:ios:ad53cc3d4dfa04a735225c</string>
</dict>
</plist>